/* Hide by default */
.subnavbar {
  display: none;
}

/* Show on mobile */
@media screen and (max-width: 768px) {
  .subnavbar {
  position: fixed; /* Fix the navbar at the top */
  left: 0;
  width: 100%; /* Full width */
  z-index: 1000; /* Ensure it stays above other elements */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 0;
  padding: 0.5rem 1rem;
  background-color: #faf5ed; /* Semi-transparent background */
  transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for navbar */
}

  .subnav-icon {
    font-size: 1.5rem;
    color: #702424;
  }

  .subnav-icon.active {
    color: var(--primary-color);
  }

  .subnav-icon.mobile-only {
    display: inline-block;
  }

}